/* Start */
#Attention {
    width: 100%;
    text-align: center;
    display: block;
    height: auto;
}

.enter {
    position: relative;
    text-align: center;
    color: white;
}

.entertext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-decoration: none;
}

.entertext h3 a {color: white;
    text-decoration: none;
    font-size: 40px;
}

/* Grundstruktur */
nav{padding:5px;
    background-color:gainsboro;
    text-align: center;
    font-size: 23px;
    font-weight: 700;
}

nav a{color:black;
    margin:auto;
    font-size:large;
}

main {font-size: 17px;
    height:auto
}

main a {color:floralwhite;
    font-weight: bold;
    text-decoration: none;
}

body {background-image:url(background.png);
    opacity:initial;
    width: 100%;
    height: auto;
    display:block;
    overflow-x: hidden;
}

/* Überschriften */
h1 {color:gold;
    text-align: center;
    font-size: 3.5em;
    font-family: fantasy;
}

h2 {background-color: black;
    color: white;
}

h3 {padding: 1em;
}

/* Text */
p {color:aliceblue;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding:1em;
}

/* Venator */
#Venator {
    display: block;
    width: 100%;
    height: auto;
}

/* Chronologie */
.container {
    overflow-x: hidden;
    position: relative;
}

.scrollbar {
    overflow-x: scroll;
    width: 100%;
    white-space: nowrap;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
}

.scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
}

/* Easteregg */
.easteregg {
    text-align: right;
    padding: 20px;
}

.easteregg:hover {
    color: #fff;
    text-shadow: 0 0 5px #03e9f4,
                0 0 25px #03e9f4,
                0 0 50px #03e9f4,
                0 0 100px #03e9f4;
} 

#dance {
scale: 1;
text-align: center;
}

/* Navigation_Planeten */
colgroup {
    width: 200px;
    width: 100px;
}

td {color:aliceblue;
    font-size:x-large;
    text-align: center;
    padding:0.5em;
    background-color: dimgray;
}

/* Planeten Liste */
table {
    text-align:center;
}

img {
    height:400px;
    
}

#Planeten {text-align: center;
}

/* Quellen */
figcaption{
    font-size: x-small;
    color:aliceblue;
    padding:1em
}

/* Listenelemente */
ul {color:orange;
    font-size: 1.3em;
}

li {padding:7px;
    color: orange;
}

/* Formulare */
label {color: orange;
    background-color: black;
    font-size: 1em;
    font-weight: bold;
}

#Vorschlag {background-color: black;}

textarea {font-family: Arial, Helvetica, sans-serif;
}

/* Extern */
#Wookieepedia {
    text-align: center;
    color: black;
}

/* Fußbereich */
footer {background-color: dimgrey;
    width:100%;
    bottom:0px;
    padding:5px;
}

.Hyperspace {
    text-align: center;
}